/* General reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("img/bg.jpeg");
    overflow: hidden; /* Prevent default scrolling on the body */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
}

/* Container style */
.container {
    width: 100%;
    max-width: 80%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable snapping on the y-axis */
    color: white;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Webkit browsers (Chrome, Safari) */
}

.header {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navbar__logo {
    height: 100px;
}

.navbar__link {
    padding: 0;
}

/* Header link styles */
.header__link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header__link {
    background-image: linear-gradient(
      to right,
      #da4ea2,
      #951cff 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .header__link:before{
    content: '';
    background: #da4ea2;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .header__link:hover {
   background-position: 0;
  }
  
  .header__link:hover::before{
    width: 100%;
  }
  

.list{
    display: flex;
    gap: 20px;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    cursor: pointer;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__button {
    width: 100px;
    padding: 10px;
    background-color: #da4ea2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.hero__container {
    height: 100%;
    scroll-snap-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}
.hero__title {
    font-size: 140px;
}

.hero__whatwedo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.whatedo_image {
    height: 5px;
}

.hero__right {
    flex: 1;
    position: relative;
    
}

.whatwedo__subtitle {
    color: #da4ea2;
}

.hero__description {
    font-size: 24px;
    color: lightgray;
    margin-top: 0px;
}

.hero__button {
    background-color: #da4ea2;
    color: white;
    font-weight: 500;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hero__spaceman {
    height: 850px;
    width: 650px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: animate 2s infinite ease alternate;
}

    @keyframes animate {
        to {
            transform: translateY(30px);
        }

    }

/* Add styling to the social media logos*/
.hero__socials {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.social__image {
    width: 50px;
}

/* who styling*/
.who__container {
    height: 100vh;
    scroll-snap-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.who__left{
    flex: 1;
}

.who__weare {
    display: flex;
    align-items: center;
    gap: 5px;
    height: auto;
}

.who_image {
    height: 5px;
}

.who__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoiam__subtitle {
    color: #da4ea2;
    font-size: 32px;
}

.who__description {
    margin: 0;
}

.who__paragraph {
    font-size: 18px;
    margin-top: 5px;
}

/* Works styling*/
.works__container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}
    

.project_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech__used {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    flex-wrap: wrap;
}

.tech__li {
    display: flex; /* Ensures content is centered */
    align-items: center; /* Vertically centers content */
    justify-content: center;
    border: 1px solid #da4ea2; /* Your original border */
    border-radius: 9999px; /* Fully rounded corners */
    background-color: rgba(188, 103, 180, 0.1); /* Teal background with opacity */
    padding: 0.25rem 0.75rem; /* Similar to py-1 and px-3 in Tailwind */
    font-size: .75rem; /* Text size similar to text-xs */
    font-weight: 500; /* Similar to font-medium */
    line-height: 1.25rem; /* Leading-5 */
    color: #ff11a0; /* Teal text color (text-teal-300) */
    
}

.works__list__item {
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    text-align: center;
    margin: 0;
}

.works__list__item::after{
    content: attr(data-skill);
    position: absolute;
    top: 0;
    left: 0;
    color: pink;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.works__list__item:hover::after {
    animation: moveText 0.5s linear;
}

@keyframes moveText {
    to {
        width: 100%;
    }
}

/* Code for project card*/
.card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #330071;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  .card .box:hover {
    transform: translateY(-50px);
  }
  
  .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  .card .box .content h2 {
    position: absolute;
    top: -8%;
    right: 5%;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #da4ea2;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }

/* Contact form CSS */
.contact__container {
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact__left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact__right {
    flex: 1;
    display: flex;
    align-items: center;
}

.contact__form__title {
    font-weight: 200;
}

.contact__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__input {
    padding: 20px;
    background-color: #ecebeb;
    border: none;
    border-radius: 5px;
}

.contact__text {
    padding: 20px;
    background-color: #ecebeb;
    border: none;
    border-radius: 5px;
}

.contact__button{
    background-color: #da4ea2;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
}

.contact__image {
    width: 100%;
    height: auto;

}

/* Responsive code */
/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    /* Hero seciton*/
    .container {
        max-width: 100%;
        height: auto;
    }
    .hero__container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: unset;
        height: 100vh;
    }
    .hero__left {
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }

    .hero__right {
        display: none;
    }

    .hero__container .hero__title {
        text-align: center;
        font-size: 6rem;
        margin: 0;
    }

    .hero__whatwedo {
        justify-content: center;
    }

    .hero__description {
        text-align: center;
        padding: 1rem;
    }
    .social__image {
      height: 2.8rem;
    }
    
    .hero__socials {
      justify-content: center;
    }
  
    .navbar {
        width: 100%;
        
    }
    .header {
        width: 100%;
        position: fixed;
        background-color: hsl(262, 92%, 5%);
        z-index: 1000; 
 
    }

    .list {
        display: none;
    }

    .icons {
        padding: 15px;
    }

    .navbar__logo {
        height: 5rem;
    }

    .navbar__button {
        width: 6.5rem;
        
    }

    /* Who section */
    .who__container {
        scroll-snap-align: unset;
        height: auto !important;
    }

    .who__left {
        display: none;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 4rem;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1rem;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* works section*/
    .works__container {
        width: 100%;
        height: auto;
        scroll-snap-align: unset !important;
        padding: 20px 10px;
        gap: 3rem;
    }


    .card {
        width: 100%;
        max-width: 300px;
        height: 400px;
        margin: 20px 0;
        position: relative; 
    }

    .card .box {
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        margin: 0;
        overflow: auto; 
    }

    .card .box:hover {
        transform: translateY(-10px); 
    }

    .card .box .content {
        
    }

    .card .box .content h2 {
        font-size: 2rem;
        top: -5%;
        right: 5%;
    }

    .card .box .content h3 {
        font-size: 1.4rem;
    }

    .card .box .content p {
        font-size: 1rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.7rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 2rem;
    }

    /* contact form */
    .contact__container{
        width: 100%;
        scroll-snap-align: unset;
    }

    .contact__right {
        display: none;
    }

    .contact__left {
        width: 100%;
        justify-content: center;
        padding: .5rem;
    }

    .contact__form {
        max-width: 100%;
        justify-content: center;
    }

    .contact__form__title {
        font-weight: 200;
        font-size: 2.5rem;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    .container {
        max-width: 100%;
        height: auto;
    }
    .hero__container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: unset;
        height: 100vh;
    }
    .hero__left {
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }

    .hero__right {
        display: none;
    }

    .hero__title {
        text-align: center;
        font-size: 6rem;
        margin: 0;
    }

    .hero__whatwedo {
        justify-content: center;
        font-size: 1.3rem;
    }

    .hero__description {
        text-align: center;
        padding: 1rem;
    }
    .social__image {
      height: 2.8rem;
    }
    
    .hero__socials {
      justify-content: center;
    }
  
    .navbar {
        width: 100%;
        
    }
    .header {
        width: 100%;
        position: fixed;
        background-color: hsl(262, 92%, 5%);
        z-index: 1000; 
 
    }

    .list {
        display: none;
    }

    .icons {
        padding: 15px;
    }

    .navbar__logo {
        height: 5rem;
    }

    .navbar__button {
        width: 6.5rem;
        
    }

    /* Who section*/
     .who__container {
        scroll-snap-align: unset;
        height: auto !important;
        justify-content: center;
    }

    .who__left {
        display: none;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 2rem !important;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1.1rem !important;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* works section */
    .works__container {
        width: 100%;
        scroll-snap-align: unset !important;
        padding: 20px 10px;
        gap: 3rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.7rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 2.8rem;
    }

    /* contact section */
    .container {
        max-width: 100%;
    }
    
    .contact__container{
        width: 100%;
        padding: .5rem;
        scroll-snap-align: unset;
    }

    .contact__right {
        display: none;
    }

    .contact__left {
        width: 100%;
        justify-content: center;
    }

    .contact__form {
        width: 100%;
        justify-content: center;
    }

    .contact__form__title {
        font-weight: 200;
        font-size: 2.8rem;
    }
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {
    /* Hero section*/
    .container {
        max-width: 100%;
        height: auto;
    }
    .hero__container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: unset;
        height: 100vh;
    }
    .hero__left {
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }

    .hero__right {
        display: none;
    }

    .hero__title {
        text-align: center;
        font-size: 6rem;
        margin: 0;
    }

    .hero__whatwedo {
        justify-content: center;
        font-size: 1.3rem;
    }

    .hero__description {
        text-align: center;
        padding: 1rem;
    }
    .social__image {
      height: 2.8rem;
    }
    
    .hero__socials {
      justify-content: center;
    }
  
    .navbar {
        width: 100%;
        
    }
    .header {
        width: 100%;
        position: fixed;
        background-color: hsl(262, 92%, 5%);
        z-index: 1000; 
 
    }

    .list {
        display: none;
    }

    .icons {
        padding: 15px;
    }

    .navbar__logo {
        height: 5rem;
    }

    .navbar__button {
        width: 6.5rem;
        
    }

    /* Who section*/
    .who__container {
        scroll-snap-align: unset;
        height: 100vh;
        padding: 1.5rem;
    }

    .who__left {
        display: none;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 2.3rem !important;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1.1rem !important;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* Works section*/
    .works__container {
        width: 100%;
        scroll-snap-align: unset !important;
        padding: 20px 10px;
        gap: 3rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 3rem;
    }

    .card .box .content p {
        font-size: 1.1rem;
        text-align: left;
    }

    /* Contact section*/
    
    .contact__container{
        width: 100%;
        padding: .5rem;
        scroll-snap-align: unset;
    }

    .contact__right {
        display: none;
    }

    .contact__left {
        width: 100%;
        justify-content: center;
    }

    .contact__form {
        width: 100%;
        justify-content: center;
    }

    .contact__form__title {
        font-weight: 200;
        font-size: 3rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Hero Section */
    .container {
        max-width: 100%;
        height: auto;
    }
    .hero__container {
        height: auto;
        align-items: center;
        justify-content: center;
        scroll-snap-align: unset;
        height: 100vh;
    }
    .hero__left {
        align-items: center;
        justify-content: center;
        
        flex: 1;
    }

    .hero__right{
        padding: 1rem;
    }


    .hero__title {
        text-align: center;
        font-size: 5rem;
        margin: 0;
    }

    .hero__whatwedo {
        justify-content: center;
        font-size: 1rem;
    }

    .hero__description {
        text-align: center;
        padding: .8rem;
    }
    .social__image {
      height: 2.8rem;
    }
    
    .hero__socials {
      justify-content: center;
    }
  
    .navbar {
        width: 100%;
        
    }
    .header {
        width: 100%;
        position: fixed;
        background-color: hsl(262, 92%, 5%);
        z-index: 1000; 
 
    }

    .list {
        display: none;
    }

    .icons {
        padding: 15px;
    }

    .navbar__logo {
        height: 5rem;
    }

    .navbar__button {
        width: 6.5rem;
        
    }

    .hero__spaceman {
        height: 15rem !important; 
        width: 15rem !important;  
        object-fit: contain;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%); 
        animation: animate 2s infinite ease alternate;
    }

    @keyframes animate {
        to {
            transform: translate(-50%, -50%) translateY(2rem); 
        }
    }

    /* Who Section */
    .who__container {
        scroll-snap-align: unset;
        height: 100vh;
        padding: 1.5rem;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 2.3rem !important;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1.1rem !important;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* Works Section */
    .works__container {
        width: 100%;
        scroll-snap-align: unset !important;
        padding: 20px 10px;
        gap: 3rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 3rem;
    }

    .card .box .content p {
        font-size: 1.1rem;
        text-align: left;
    }

    /* Contact Section */
    .container {
        max-width: 100%;
    }
    
    .contact__container{
        width: 100%;
        padding: .5rem;
        scroll-snap-align: unset;
    }

    .contact__right {
        display: none;
    }

    .contact__left {
        width: 100%;
        justify-content: center;
    }

    .contact__form {
        width: 100%;
        justify-content: center;
    }

    .contact__form__title {
        font-weight: 200;
        font-size: 3rem;
    }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    /* Who section*/
    .who__container {
        height: 100vh;
        padding: 1.5rem;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 2.3rem !important;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1.1rem !important;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* Works section*/
    .works__container {
        width: 100%;
        scroll-snap-align: center;
        padding: 20px 10px;
        gap: 3rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 3rem;
    }

    .card .box .content p {
        font-size: 1.1rem;
        text-align: left;
    }

    /*Contact section*/
    .container {
        max-width: 100%;
    }
    
    .contact__container{
        width: 100%;
        padding: .5rem;
    }

    .contact__right {
    }

    .contact__left {
        width: 100%;
        justify-content: center;
    }

    .contact__form {
        width: 100%;
        justify-content: center;
    }

    .contact__form__title {
        font-weight: 200;
        font-size: 3rem;
    }
}

/* Laptop L */
@media (max-width: 1440px) {
    .container {
        max-width: 100%;
        height: auto;
    }
    .hero__container {
        height: auto;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .hero__left {
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .hero__right{
        padding: 1rem;
    }


    .hero__title {
        text-align: center;
        font-size: 7rem;
        margin: 0;
    }

    .hero__whatwedo {
        justify-content: center;
        font-size: 2rem;
    }

    .hero__description {
        text-align: center;
        padding: 2rem;
    }
    .social__image {
      height: 3rem;
    }
    
    .hero__socials {
      justify-content: center;
    }
  
    .navbar {
        width: 100%;
        
    }
    .header {
        width: 100%;
        position: fixed;
        background-color: hsl(262, 92%, 5%);
        z-index: 1000; 
 
    }

    .icons {
        padding: 15px;
    }

    .navbar__logo {
        height: 5rem;
    }

    .navbar__button {
        width: 6.5rem;
        
    }

    .hero__spaceman {
        height: 26rem; 
        width: 26rem;
        object-fit: contain;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center both vertically and horizontally */
        animation: animate 2s infinite ease alternate;
    }

    @keyframes animate {
        to {
            transform: translate(-50%, -50%) translateY(2rem); /* Maintain centering while animating */
        }
    }

    /* who section*/
    .who__container {
        height: 100vh;
        padding: 1.5rem;
    }

    .who__right {
        width: 100%; 
    }

    .whoiam__subtitle {
        font-size: 2.3rem !important;
        text-align: center; 
    }

    .who__paragraph {
        font-size: 1.1rem !important;
        text-align: left; 
        line-height: 1.5em;
    }

    .who__weare {
        justify-content: center;
    }

    /* works section*/
    .works__container {
        width: 100%;
        scroll-snap-align: center;
        padding: 20px 10px;
        gap: 3rem;
    }

    .tech__used {
        justify-content: center;
    }

    .tech__li {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .works__list__item {
        font-size: 3rem;
    }

    .card .box .content p {
        font-size: 1.1rem;
        text-align: left;
    }

}
